# dependencies
node_modules/
.pnp
.pnp.*

# build outputs
dist/
build/
.vite/

# testing
coverage/

# env
.env*

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
